/* Unviersal Selector */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: black;
}

a {
    text-decoration: underline;
    color: mistyrose;
}

/* Begin Header */
header {
    background-color: rgba(47, 79, 79, 0.801);
    padding: 20px;
    color: #ffffff; 
}

header h1 {
    display: inline-block;
    font-size: 52px;
    background-color: mistyrose;
    color: rgb(47, 79, 79);
}

#name-style {
    font-family: 'Amatic SC', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.links {
    padding-top: 1.5rem;
    margin-right: 2rem;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.links ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    text-transform: uppercase;
}

/* Hero Image */
.hero {
    height: 20rem;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/nature-hero.jpg");
    background-size: cover;
    position: relative;
} 

#subtitle-img {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    background-color: mistyrose;
    font-style: italic;
    color: rgba(47, 79, 79, 0.801);
}

/* Begin About Me Section */
.main-box{
    margin-left: 2.5rem;
}
h2 {
    display: inline-block;
    font-size: 52px;
    flex-wrap: wrap;
    font-family: 'Amatic SC', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-right: cadetblue solid 2px;
}

.about-me > p {
    display: inline;
    padding-left: -1em;
    text-indent: -1em; 
    align-items: flex-end;
}

/* Begin Work Section */
.work > h2 {
    justify-content: left;
}

#work-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.img-box {
    display: inline-block;
    flex-wrap: wrap;
}

/* .img-properties:nth-child(1) {
    width: 100rem;
    height: auto;
}

.img-properties:nth-child(n+1) {
    width: 25rem;
    height: auto;
} */

/* Begin Contact Me */
.contact-me {
background-color: rgba(47, 79, 79, 0.801);
padding: 20px;
color: #ffffff;
width: 100%;
}

.contact-me > a {
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
    text-transform: uppercase;
}

footer {
    margin: 0;
    padding: 0;
}