* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

header {
    background-color: rgba(47, 79, 79, 0.801);
    width: 100%;
    height: 5rem;
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#HeaderNav {
    display: inline;
    justify-content: right;
}